<mat-card>
  <mat-card-header>
    <H3 *ngIf="objCopy.id">Update data for {{objCopy.name}}</H3>
    <H3 *ngIf="!objCopy.id">Create a new Organization</H3>
  </mat-card-header>
  <mat-card-content fxLayout="column">
    <mat-form-field style="width: 250px">
      <input matInput placeholder="Organization Name"
             [(ngModel)]="objCopy.name">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Abbrv"
                [(ngModel)]="objCopy.nameShort">
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button aria-label="cancel" color="primary" (click)="onCancel()">
      Cancel
    </button>
    <button mat-button aria-label="revert" color="primary" (click)="onRevert()">
      Revert
    </button>
    <button *ngIf="objCopy.id" mat-button aria-label="update" color="primary"
            (click)="onUpdate()">
      Update
    </button>
    <button *ngIf="!objCopy.id" mat-button aria-label="save" color="primary" (click)="onSave()">
      Save
    </button>
  </mat-card-actions>
</mat-card>
